.people {
  display: grid;
  grid-template-columns: 300px;
  justify-content: center;
}

.man {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_wrap {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  text-align: center;
}