@import "./../../../sass/variables";

.menu {
  background-color: $mainColor;
  padding: 35px;
  color: $textColor;
  font-size: 20px;
  position: relative;

  &_list {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: -285px;
    list-style: none;

    &:hover {
      left: 0;
      transition: left 0.6s;
    }

    .menu_item {

      &:hover a:before {
        width: 50%;
        transform: translateX(100%);
      }

      + .menu_item {
        margin-left: 15px;
      }

      .menu_link {
        text-decoration: none;
        position: relative;
        z-index: 1;
        color: #fff;


        &:before {
          content: "";
          width: 0px;
          height: 3px;
          background-color: $secondaryColor;
          position: absolute;
          top: 100%;
          left: 0;
          transition: 0.5s;
        }

        &:hover:before {
          transform: scale(1);
        }
      }
      .menu_activeLink {
        color: $thirdColor;
      }
    }

    .menuBurgerInFuture {
      background-color: $thirdColor;
      padding: 10px;
    }
  }
}