@import './../sass/variables';

.affair {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;

  .btn {
    color: #ffffff;
    background-color: $thirdColor;
    cursor: pointer;

    &:hover {
      transition: background-color 0.2s;
      background-color: $secondaryColor;
    }
  }
}

