@import "./../sass/mixins";

.column {
    @include flexCenter;
    flex-direction: column;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    min-height: 400px;
}

.testSpanError {
    color: darkred;
}
.superInput, .blue {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    font-weight: bold;
    outline: 0;
    margin: 10px 0;
    padding-left: 0;
    color: #ECF0F5;
}

.title {
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #ECF0F5;
}
.btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
button + button {
    margin-left: 15px;
}
