@import "./../../../sass/variables";

.wrapper {
  display: flex;
  .label {
    cursor: pointer;
  }
  .input {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #c8aacc;

    &:checked, &:hover, &:focus {
      background: $thirdColor;
    }
  }
}





